.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;

  .welcome {
    text-wrap: wrap;
    word-break: break-word;
    flex-wrap: wrap;
    text-align: center;
  }

  .user_attributes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
