.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  text-wrap: wrap;
  word-break: break-word;
  flex-wrap: wrap;
  text-align: center;
}
