@use "../../scss/variables" as *;
@use "../../scss/responsive" as *;

.wrapper {
  display: flex;
  padding: 0px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  word-break: break-all;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
    }
  }
}
